<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fronius" type="froniuslocalcollector.FroniusConfigSection, froniuslocalcollector" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <fronius host="" device="1" influxHost="localhost" influxDatabase="" influxMeasurement="">
  </fronius>
</configuration>